.alignment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.alignment > article {
  width: 280px;
  margin: 0;
  background: #fff;
}

.user > article {
  width: 50%;
}

.user > article > p {
  font-size: 20px;
}

.user > article > ol {
  background: #d9d9d9;
  margin: 2rem;
  font-weight: bold;
  font-size: 18px;
}

.user > article > ol > li {
  margin: 1rem;
}

.user > article > ol > li > a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}
